#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  }

.text-card {
background: #C34C25;
padding: 1rem;
font-size: 0.9rem;
border-radius: 6px;
border: solid 1px red;
}

header {
  text-align: left;
  font-size: 2rem;
  padding: 2rem;
}

.button-group {
  cursor: pointer;
  /* opacity: 0.6; */

  border: 0;
  outline: 0;
  border-bottom: 2px solid transparent;
  transition: ease border-bottom 250ms;
  /* ${({ active }) =>
    active &&
    `
    border-bottom: 2px solid black;
    opacity: 1;
  `} */

}
